extends layout

block content

    .form-container

        form(method='POST' action='/submit')
            label(for='name') Name:
            input.form-field.name(type='text' name='name')
            label(for='vid') Vid:
            input.form-field.vid(type='text' name='vid')
            label(for='title') Title:
            input.form-field.title(type='text' name='title')
            label(for='description') Description:
            input.form-field.description(type='text' name='description')
            input(type='submit') 

        a(href='/submissions') Current Submissions